# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/

# Maven
target/
*.iml

# TestNG
test-output/

# WebDriver binaries (if included in the project)
webdriver/

# Logs
logs/

# Test reports
extent-reports/

# Temporary files
*.log
*.tmp

# IDE-specific files
.vscode/

# Gradle
.gradle/
build/
